<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"></meta>
        <link rel="shortcut icon" href="image/favicon.ico"/>
        <title>Linh Kiện Điện Tử Đức Huy - LinhKienDucHuy.vn - LinhKienDucHuy.com</title>
        <link href="css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css"></link>
        <link href="css/layout.css" rel="stylesheet" type="text/css"></link>
        <script src="js/common/common.js" type="text/javascript"></script>
        <script src="js/common/language.js" type="text/javascript"></script>
        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/smoothslides-2.1.0.js"></script>
        <script src='js/jquery.zoom.js'></script>
    </head>
    <body>
        <div id="container" class="container animated zoomInRight">
            <div class="carttop">
                <a title="Xem giỏ hàng" class="text"> Giỏ hàng</a>
                <span>1</span>
                <b class="text"> Tổng cộng : 123.456.789.10 VNĐ</b>
            </div><!--End carttop-->
            <div class="banner clr">
                <a href="/" title="banner" target="_blank">
                    <img src="image/banner6.png" width="325" height="75" alt="banner"></img>
                </a>
                <span>
                    <b class="text address hidden-xs">Pham Hung Road, Cau Giay Dist, Hanoi, Vietnam</b></br>
                    <b class="text phoneNumber hidden-xs">0977 2360 70 </b>
                </span>
            </div><!--End banner clr-->

            <div id="navbar-header" class="row"><!--Begin row-->
                <div class="col-md-9 clearfix">
                    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html">TRANG CHỦ</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/page/gioi-thieu" target="_self">GIỚI THIỆU</a></li>
                                <li><a href="/page/huong-dan-mua-hang" target="_self">HƯỚNG DẪN MUA HÀNG</a></li>
                                <li><a href="/page/tu-van-chon-xe" target="_self">TƯ VẤN CHỌN XE</a></li>
                                <li><a href="/lien-he" target="_self">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-3 hidden-xs">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="search-query form-control" placeholder="Tìm kiếm..." />
                            <input type="submit" value="">
                        </div>
                    </div>
                </div>
            </div><!--End row-->

            <div class="slider"><!--Begin slider-->
                <div class="smoothslides" id="myslideshow">
                    <img src="upload/slide/1.jpg" alt="Leaf Leaf Leaf"/>
                    <img src="upload/slide/2.jpg" alt="Mountain Leaf"/>
                    <img src="upload/slide/3.jpg" alt="Tree Leaf Leaf"/>
                    <img src="upload/slide/4.jpg" alt="Sky LeafLeafLeaf"/>
                </div>
            </div><!--End slider-->
            <div id="content" class="container-fluid clearfix"><!--Begin content-->
                <div class="row">
                    <div class="NavContent"><!--Begin NavContent-->
                        <div class="col-md-12"><!--Begin col-md-3-->
                            Vị trí » <a href="/">Trang chủ</a>
                            <span class="NavLink"><a href="/" title="Xe đạp trẻ em">Xe đạp trẻ em</a></span>
                            <span class="NavLink"><a href="/" title="Xe đạp nhỏ">Xe đạp nhỏ</a></span>
                        </div>
                    </div><!--End NavContent-->
                    <div class="col-md-3"><!--Begin col-md-3-->
                        <div class="box-head">
                            <a target="_self">Danh Mục Sản Phẩm</a>
                        </div>
                        <ul id="left-menu" class="menu">
                            <li class="itop"><a href="/" title="Xe đạp địa hình" target="_self">Xe đạp địa hình</a>
                                <ul class="animatedNav zoomInRight">
                                    <li><a href="/" title="Dòng xe Kings" target="_self">Dòng xe Kings</a></li>
                                    <li><a href="/" title="" target="_self">Dòng xe Utah</a></li>
                                </ul>
                            </li>
                            <li class="itop"><a title="Xe đạp địa hình" href="/p/xe-dap-thanh-pho" target="_self">Xe đạp thành phố</a>
                                <ul class="animatedNav zoomInRight">
                                    <li><a  href="/p/dong-xe-cao-cao" target="_self">Dòng xe cào cào</a></li>
                                    <li><a href="/p/dong-xe-mini" target="_self">Dòng xe Mini</a></li>
                                </ul>
                            </li>
                            <li><a href="/p/xe-dap-the-thao" target="_self">Xe đạp thể thao</a></li>
                        </ul>
                        <!--<script type="text/javascript"> $('li:last-child').addClass("last");</script>-->
                        <div id="support" class="hidden-xs"><!--Begin support-->
                            <div class="box-head">
                                <a target="_self">Hỗ trợ trực tuyến</a>
                            </div>
                            <div class="panel-body">
                                <ul class="menu menu-list">
                                    <li class="support-item support-phone">
                                        <i class="sp-icon"></i>
                                        Hotline: 0977 2360 70
                                    </li>
                                    <li class="support-item">
                                        <a href="ymsgr:tranvanphuong_1189" rel="nofollow">
                                            <img src="http://opi.yahoo.com/online?u=tranvanphuong_1189&amp;m=g&amp;t=5" border="0" class="sp-icon">
                                                <span>Yahoo</span>
                                        </a>
                                    </li>
                                    <li class="support-item support-skype">
                                        <a href="skype:tranphu0ng?chat" rel="nofollow">
                                            <img src="http://mystatus.skype.com/smallicon/tranphu0ng" class="sp-icon">
                                                <span>Skype</span>
                                        </a>
                                    </li>                
                                </ul>
                            </div>
                        </div><!--End support-->
                        <div id="facebook" class="hidden-xs"><!--Begin facebook-->
                            <div id="fb-root"></div>
                            <script>(function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id))
                                        return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));
                            </script>
                            <div data-href="https://www.facebook.com/Hangxachtaychuan.vn" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
                                <div>
                                    <blockquote cite="https://www.facebook.com/Hangxachtaychuan.vn"><a href="https://www.facebook.com/Hangxachtaychuan.vn">Hangxachtaychuan.vn</a></blockquote>
                                </div>
                            </div>
                        </div><!--End facebook-->
                        <div id="youtube-chanel" class="hidden-xs"><!--Begin youtube-chanel-->
                            <div class="box-head">
                                <a target="_self">Kênh youtube</a>
                            </div>
                            <iframe width="100%" height="250" src="https://www.youtube.com/embed/Iegls4_IGGw" frameborder="0" allowfullscreen></iframe>
                        </div><!--End youtube-chanel-->
                        <div id="partner" class="hidden-xs"><!--Begin partner-->
                            <div class="box-head">
                                <a target="_self">Đối tác</a>
                            </div>
                            <div class="box-body">
                                <a href="/" target="_blank" title="quảng cáo phải 2"><img alt="quảng cáo phải 2" src="upload/partner/AsamaLogo_sua(1).jpg"></a>
                                <a href="#" target="_self" title="quangcao trai2"><img alt="quangcao trai2" src="upload/partner/giant-logo.JPG"></a>
                                <a href="#" target="_self" title="Slide 04"><img alt="Slide 04" src="upload/partner/logo1.jpg"></a>
                            </div>
                        </div><!--End partner-->
                    </div><!--End col-md-3-->

                    <div id="detail-product" class="col-md-9 pd_detail_top"><!--Begin .col-md-9-->
                        <div class="newsdetail">
                            <h1 class="newstitle">Kinh nghiệm dùng kem chống nắng hiệu quả</h1>
                            <p class="newstime">15/07/2015 12:01</p>
                            <div class="newsdes">
                                <h2 class="shorst-desc">Da đen sạm là nỗi ám ảnh của mỗi chị em, để làn da không bị đen do nắng chị em hãy sử dụng kem dưỡng da chống nắng một cách hiệu quả nhất dưới đây nhé!</h2>

                                <p>Trong kỳ nghỉ đầu hè này, chúng ta sẽ dành khá nhiều thời gian cho các hoạt động ngoài trời, từ dạo phố cho đến đi chơi xa, leo núi, tắm biển, v.v... Những hoạt động này tuy mang đến rất nhiều niềm vui và kỷ niệm nhưng lại có ảnh hưởng không nhỏ đến làn da của chúng ta. Với lịch "bêu nắng" kín mít như vậy, kem chống nắng và kem dưỡng da nghiễm nhiên trở thành "BFF" của các cô nàng. Hẳn không ai còn xa lạ với những sản phẩm này nhưng bạn có chắc mình đã biết sử dụng chúng một cách "pro" chưa? Hãy ngâm cứu loạt tip sau đây để giữ được làn da trắng mịn suốt cả kỳ nghỉ nhé!</p>

                                <p><img alt="" src="http://hangxachtaychuan.vn/data/media/193/images/kinh-nghiem-dung-kem-chong-nang-hieu-qua-nhat.jpg"></p>

                                <p><strong>Chọn đúng kem chống nắng</strong></p>

                                <p>Đối với các hoạt động ngoài trời, bạn cần đảm bảo loại kem chống nắng mình dùng có SPF (chỉ số chống nắng) từ 30 trở lên và là loại chống nắng phổ rộng (broad-spectrum) - điều này có nghĩa da bạn sẽ được bảo vệ khỏi cả tia UVA lẫn UVB có hại trong ánh nắng mặt trời.&nbsp;</p>

                                <p>Bởi chúng ta sẽ dùng kem chống nắng cho cả mặt lẫn body nên bạn cũng cần lưu ý một chút về thành phần của kem để không bị nổi mụn. Khi tìm mua kem chống nắng, hãy tìm dòng chữ "non-comedogenic" - điều này có nghĩa loại kem đó sẽ không làm tắc, bí lỗ chân lông và gây ra mụn.</p>

                                <p>Ngoài ra, kem chống nắng sẽ có khả năng bảo vệ da tốt hơn dung dịch chống nắng dạng xịt.&nbsp;</p>

                                <p><img alt="" src="http://hangxachtaychuan.vn/data/media/193/images/kinh-nghiem-dung-kem-chong-nang-hieu-qua-nhat(1).jpg"></p>

                                <p><strong>Thoa kem chống nắng đúng cách</strong></p>

                                <p>Nếu bạn nghĩ rằng chỉ cần thoa kem chống nắng khi trời nắng chang chang thì bạn đã nhầm. Ngay cả khi trời không có nắng hoặc thậm chí là râm mát, da bạn vẫn có thể bị tia tử ngoại tấn công và đó là lý do tại sao bạn nên thoa kem chống nắng bất cứ khi nào ra ngoài trời trong khoảng từ 9 giờ sáng - 5 giờ chiều.&nbsp;</p>

                                <p><img alt="" src="http://hangxachtaychuan.vn/data/media/193/images/kinh-nghiem-dung-kem-chong-nang-hieu-qua-nhat(2).jpg"></p>

                                <p>Đối với các loại kem chống nắng cổ điển (còn được gọi là kem chống nắng hóa học), bạn sẽ cần thoa kem lên da 20 phút trước khi ra ngoài bởi các thành phần hóa học trong kem cần ngần ấy thời gian để "kích hoạt" chức năng bảo vệ da. Trong khi đó, những loại kem chống nắng khoáng (có chứa titanium dioxide và kẽm oxide) lại có khả năng bảo vệ da ngay khi vừa thoa lên. Và đặc điểm chung của cả hai loại kem chống nắng này là cần được thoa lại sau mỗi 2 giờ, đặc biệt là khi bạn vừa vùng vẫy dưới nước hoặc đổ nhiều mồ hôi.</p>

                                <p>Bên cạnh đó, bạn cũng cần đảm bảo mình thoa đủ lượng kem chống nắng cần thiết. Đối với vùng mặt, lượng kem chống nắng lý tưởng là cỡ một hình tròn có đường kính 2cm. Đối với vùng da toàn thân bao gồm cổ, hai cánh tay và hai chân, bạn cần dùng lượng kem chống nắng tương đương với một chiếc chén uống rượu nhỏ.&nbsp;</p>

                                <p><img alt="" src="http://gocbangai.com/sites/default/images/2015/05/11/dung-kem-chong-nang/kinh-nghiem-dung-kem-chong-nang-hieu-qua-nhat(3).jpg"></p>

                                <p><strong>Kết hợp kem chống nắng với trang điểm như thế nào?</strong></p>

                                <p>Bạn có thể sẽ bối rối không biết nên thoa kem dưỡng da trước hay kem chống nắng trước. Câu trả lời chính xác là: kem chống nắng luôn là sản phẩm nên được thoa sau cùng trong các bước dưỡng da.&nbsp;</p>

                                <p>Việc trang điểm có thể giảm tác dụng của kem chống nắng nếu bạn không biết cách. Để tăng hiệu quả chống nắng, bạn nên chọn kem nền và phấn phủ có SPF (thường là từ 15 - 25). Ngoài ra, các thao tác khi trang điểm với kem chống nắng cũng khá quan trọng. Sau khi thoa kem chống nắng, hãy đợi khoảng 3 - 5 phút rồi mới tán kem nền và khi đánh nền, hãy sử dụng cọ hoặc mút trang điểm thay vì dùng tay. Cuối cùng, phủ lên da một lớp phấn có SPF. Trong ngày, việc thi thoảng dặm lại phấn không chỉ giúp "tút tát" lại lớp make up của bạn mà còn củng cố thêm khả năng chống nắng cho da mặt.</p>

                                <p><img alt="" src="http://gocbangai.com/sites/default/images/2015/05/11/dung-kem-chong-nang/kinh-nghiem-dung-kem-chong-nang-hieu-qua-nhat(4).jpg"></p>

                                <p><strong>Kem dưỡng trắng da</strong></p>

                                <p>Song song với việc bảo vệ da bằng kem chống nắng vào ban ngày, bạn rất nên bổ sung thêm kem dưỡng trắng cho da khi ở nhà. Để dưỡng sáng da một cách an toàn, bạn hãy chọn những loại kem có một trong số những thành phần như arbutin, kojic acid, vitamin C, glutathione, niacinamide, v.v...</p>

                                <p >Đối với kem dưỡng, cách tốt nhất là thoa kem lên da khi da còn hơi ẩm và vỗ nhẹ để các thành phần dưỡng được "kích hoạt". Ngoài ra, khi ngủ trong phòng máy lạnh, bạn nên đầu tư một chiếc máy phun sương để da không bị khô, mất nước. Ngoài ra, để góp phần tránh cho da bị sạm sau khi đi ngoài nắng, bạn cũng nên "thủ" sẵn 1 lọ xịt khoáng trong túi để xịt lên da thường xuyên. Cách này sẽ làm dịu da nhanh chóng, ngăn chặn quá trình sản sinh melanin - thủ phạm gây nên tình trạng sạm da và tàn nhang.</p>

                                <p >Chúc bạn có những chuyến du lịch hè mà không phải lo đen sạm da nữa!</p>
                            </div>
                        </div><!--End .NewsDetails-->
                        <div class="list-news-relation">
                            <div class="news-relation-title">
                                <h3>Tin tức khác</h3>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="details-news.html" title="Các món ăn dặm kiểu Nhật (Phần 3)">
                                        Các món ăn dặm kiểu Nhật (Phần 3)                    
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="details-news.html" title="Các món ăn dặm kiểu Nhật (phần 1)">
                                        Các món ăn dặm kiểu Nhật (phần 1)                    
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="details-news.html" title="An toàn cho trẻ tại nhà">
                                        An toàn cho trẻ tại nhà                    
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!--End col-md-9-->
                </div>
            </div><!--End content-->

            <div id="menu-bottom" class="clearfix"><div class="menu-bottom"><!--Begin menu-bottom-->
                    <ul class="clearfix">
                        <li class="parent">
                            <h3>Quy định mua hàng</h3>
                            <ul>
                                <li><a href="/" target="_self" title="Qui định nội dung bình luận">Qui định nội dung bình luận</a></li>
                                <li><a href="/" target="_self" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <h3>Quy định mua hàng</h3>
                            <ul>
                                <li><a href="/" target="_self" title="Qui định nội dung bình luận">Qui định nội dung bình luận</a></li>
                                <li><a href="/" target="_self" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <h3>Quy định mua hàng</h3>
                            <ul>
                                <li><a href="/" target="_self" title="Qui định nội dung bình luận">Qui định nội dung bình luận</a></li>
                                <li><a href="/" target="_self" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <h3>Kết nối với chúng tôi</h3>
                            <div class="social">
                                <a target="_blank" href="" class="facebook" rel="nofollow">Facebook</a>
                                <a target="_blank" href="" class="youtube" rel="nofollow">Youtube</a>
                                <a target="_blank" href="" class="googleplus" rel="nofollow">Google+</a>    
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!--End menu-bottom-->
        </div><!--End container-->        
        <script>
            $(document).ready(function () {
                $('#myslideshow').smoothSlides({
                    effectDuration: 3500 /* options seperated by commas */
                });
                common.goToByScroll('detail-product');
                common.zoomImage('img-details', 'grab');
                common.tabBarMenu();
            });
        </script>
    </body>
</html>