<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"></meta>
        <link rel="shortcut icon" type="image/png" href="image/favicon.ico"/>
        <title>Linh Kiện Điện Tử Đức Huy - LinhKienDucHuy.vn - LinhKienDucHuy.com</title>
        <link href="css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css"></link>
        <link href="css/layout.css" rel="stylesheet" type="text/css"></link>
        <script src="js/common/common.js" type="text/javascript"></script>
        <script src="js/common/language.js" type="text/javascript"></script>
        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/smoothslides-2.1.0.js"></script>
    </head>
    <body>
        <div id="container" class="container animated zoomInRight">
            <div class="carttop">
                <a title="Xem giỏ hàng" class="text"> Giỏ hàng</a>
                <span>1</span>
                <b class="text"> Tổng cộng : 123.456.789.10 VNĐ</b>
            </div><!--End carttop-->
            <div class="banner clr">
                <a href="/" title="banner" target="_blank">
                    <img src="image/banner6.png" width="325" height="75" alt="banner"></img>
                </a>
                <span>
                    <b class="text address hidden-xs">Pham Hung Road, Cau Giay Dist, Hanoi, Vietnam</b></br>
                    <b class="text phoneNumber hidden-xs">0977 2360 70 </b>
                </span>
            </div><!--End banner clr-->

            <div id="navbar-header" class="row"><!--Begin row-->
                <div class="col-md-9 clearfix">
                    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="">TRANG CHỦ</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="news.html" target="_self">GIỚI THIỆU</a></li>
                                <li><a href="/page/huong-dan-mua-hang" target="_self">HƯỚNG DẪN MUA HÀNG</a></li>
                                <li><a href="/page/tu-van-chon-xe" target="_self">TƯ VẤN CHỌN XE</a></li>
                                <li><a href="/lien-he" target="_self">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-3 hidden-xs">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="search-query form-control" placeholder="Tìm kiếm..." />
                            <input type="submit" value="">
                        </div>
                    </div>
                </div>
            </div><!--End row-->

            <div class="slider"><!--Begin slider-->
                <div class="smoothslides" id="myslideshow1">
                    <img src="upload/slide/1.jpg" alt="Leaf Leaf Leaf"/>
                    <img src="upload/slide/2.jpg" alt="Mountain Leaf"/>
                    <img src="upload/slide/3.jpg" alt="Tree Leaf Leaf"/>
                    <img src="upload/slide/4.jpg" alt="Sky LeafLeafLeaf"/>
                </div>
                <script type="text/javascript">
                    $(window).load(function () {
                        $('#myslideshow1').smoothSlides({
                            effectDuration: 3500 /* options seperated by commas */
                        });
                    });
                </script>
            </div><!--End slider-->
            <div id="content" class="container-fluid clearfix"><!--Begin content-->
                <div class="row">
                    <div class="NavContent"><!--Begin NavContent-->
                        <div class="col-md-12"><!--Begin col-md-3-->
                            Vị trí » <a href="/">Trang chủ</a>
                            <span class="NavLink"><a href="/" title="Xe đạp trẻ em">Xe đạp trẻ em</a></span>
                            <span class="NavLink"><a href="/" title="Xe đạp nhỏ">Xe đạp nhỏ</a></span>
                        </div>
                    </div><!--End NavContent-->
                    <div class="col-md-3"><!--Begin col-md-3-->
                        <div class="box-head">
                            <a href="order.html" target="_self">Danh Mục Sản Phẩm</a>
                        </div>
                        <ul id="left-menu" class="menu">
                            <li class="itop submenu"><a href="/" title="Xe đạp địa hình" target="_self">Xe đạp địa hình</a>
                                <ul class="animatedNav zoomInRight menu">
                                    <li><a href="/" title="Dòng xe Kings" target="_self">Dòng xe Kings</a></li>
                                    <li><a href="/" title="" target="_self">Dòng xe Utah</a></li>
                                </ul>
                            </li>
                            <li class="itop submenu"><a title="Xe đạp địa hình" href="/p/xe-dap-thanh-pho" target="_self">Xe đạp thành phố</a>
                                <ul class="animatedNav zoomInRight menu">
                                    <li><a  href="/p/dong-xe-cao-cao" target="_self">Dòng xe cào cào</a></li>
                                    <li><a href="/p/dong-xe-mini" target="_self">Dòng xe Mini</a></li>
                                </ul>
                            </li>
                            <li><a href="/p/xe-dap-the-thao" target="_self">Xe đạp thể thao</a></li>
                        </ul>
                        <!--<script type="text/javascript"> $('li:last-child').addClass("last");</script>-->
                        <div id="support" class="hidden-xs"><!--Begin support-->
                            <div class="box-head">
                                <a target="_self">Hỗ trợ trực tuyến</a>
                            </div>
                            <div class="panel-body">
                                <ul class="menu menu-list">
                                    <li class="support-item support-phone">
                                        <i class="sp-icon"></i>
                                        Hotline: 0977 2360 70
                                    </li>
                                    <li class="support-item">
                                        <a href="ymsgr:tranvanphuong_1189" rel="nofollow">
                                            <img src="http://opi.yahoo.com/online?u=tranvanphuong_1189&amp;m=g&amp;t=5" border="0" class="sp-icon">
                                                <span>Yahoo</span>
                                        </a>
                                    </li>
                                    <li class="support-item support-skype">
                                        <a href="skype:tranphu0ng?chat" rel="nofollow">
                                            <img src="http://mystatus.skype.com/smallicon/tranphu0ng" class="sp-icon">
                                                <span>Skype</span>
                                        </a>
                                    </li>                
                                </ul>
                            </div>
                        </div><!--End support-->
                        <div id="facebook" class="hidden-xs"><!--Begin facebook-->
                            <div id="fb-root"></div>
                            <script>(function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id))
                                        return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>

                            <div class="fb-page" data-href="https://www.facebook.com/Hangxachtaychuan.vn" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote cite="https://www.facebook.com/Hangxachtaychuan.vn">
                                        <a href="https://www.facebook.com/Hangxachtaychuan.vn">Hangxachtaychuan.vn</a>
                                    </blockquote>
                                </div>
                            </div>
                        </div><!--End facebook-->

                        <div id="youtube-chanel" class="hidden-xs"><!--Begin youtube-chanel-->
                            <div class="box-head">
                                <a target="_self">Kênh youtube</a>
                            </div>
                            <iframe width="100%" height="250" src="https://www.youtube.com/embed/Iegls4_IGGw" frameborder="0" allowfullscreen></iframe>
                        </div><!--End youtube-chanel-->
                        <div id="partner" class="hidden-xs"><!--Begin partner-->
                            <div class="box-head">
                                <a target="_self">Đối tác</a>
                            </div>
                            <div class="box-body">
                                <a href="/" target="_blank" title="quảng cáo phải 2"><img alt="quảng cáo phải 2" src="upload/partner/AsamaLogo_sua(1).jpg"></a>
                                <a href="#" target="_self" title="quangcao trai2"><img alt="quangcao trai2" src="upload/partner/giant-logo.JPG"></a>
                                <a href="#" target="_self" title="Slide 04"><img alt="Slide 04" src="upload/partner/logo1.jpg"></a>
                            </div>
                        </div><!--End partner-->
                    </div><!--End col-md-3-->

                    <div class="col-md-9"><!--Begin col-md-9-->
                        <div class="box-head">
                            <a target="_self">SẢN PHẨM MỚI</a>
                            <a class="more" href="/p/" title="Xem thêm" style="padding-right:20px; float:right">Xem thêm »</a>
                        </div>
                        <div class="list grid"><!--Begin list grid-->
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="details-product.html">
                                                <img alt="Bình Pigeon" src="upload/product/960_1435244401_115558c17714ec02.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="details-product.html">
                                                        <h3>Module Boost DC-DC 150W-12-35V</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd">
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="details-product.html">
                                                <img alt="Module Boost DC-DC 150W-12-35V" src="upload/product/24_1429805040_426553917f0b552b.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="details-product.html">
                                                        <h3>Module Boost DC-DC 150W-12-35V</h3>
                                                    </a>
                                                </span>

                                                <div class="product-price">
                                                    <span class="price-sale">160,000 đ</span>
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd"> 
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="details-product.html">
                                                <img alt="Bình Pigeon" src="upload/product/229_1429805133_4725539184db60fc.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="details-product.html">
                                                        <h3>Module Boost DC-DC 150W-12-35V</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-sale">160,000 đ</span>
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd"> 
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="details-product.html">
                                                <img alt="Bộ Akachan Disney" src="upload/product/920_1429805296_140553918f099e90.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="details-product.html">
                                                        <h3>Bộ Akachan Disney</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-sale">160,000 đ</span>
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd"> 
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="">
                                                <img alt="Bộ Akachan Disney" src="upload/product/920_1429805296_140553918f099e90.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="">
                                                        <h3>Bộ Akachan Disney</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">

                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd"> 
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="">
                                                <img alt="Bình Pigeon" src="upload/product/960_1435244401_115558c17714ec02.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="/">
                                                        <h3>Module Boost DC-DC 150W-12-35V</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-sale">160,000 đ</span>
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd">
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="/binh-pigeon-co-rong-160ml-noi-dia-nhat-pd,1341">
                                                <img alt="Module Boost DC-DC 150W-12-35V" src="upload/product/24_1429805040_426553917f0b552b.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="/binh-pigeon-co-rong-160ml-noi-dia-nhat-pd,1341">
                                                        <h3>Module Boost DC-DC 150W-12-35V</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-sale">160,000 đ</span>
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd"> 
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="">
                                                <img alt="Bình Pigeon" src="upload/product/229_1429805133_4725539184db60fc.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="/binh-pigeon-co-rong-240ml-noi-dia-nhat-pd,1342">
                                                        <h3>Module Boost DC-DC 150W-12-35V</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-sale">160,000 đ</span>
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd"> 
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="">
                                                <img alt="Bộ Akachan Disney" src="upload/product/920_1429805296_140553918f099e90.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="">
                                                        <h3>Bộ Akachan Disney</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd"> 
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="">
                                                <img alt="Bộ Akachan Disney" src="upload/product/920_1429805296_140553918f099e90.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="">
                                                        <h3>Bộ Akachan Disney</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd"> 
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--End list grid-->

                        <div class="box-head">
                            <a target="_self">SẢN PHẨM BÁN CHẠY</a>
                            <a class="more" href="/p/" title="Xem thêm" style="padding-right:20px; float:right">Xem thêm »</a>
                        </div>
                        <div class="list grid"><!--Begin list grid-->
                            <div class="list-item">
                                <div class="list-content clearfix">
                                    <div class="list-content-box">
                                        <div class="list-content-img">
                                            <a href="">
                                                <img alt="Bình Pigeon" src="upload/product/960_1435244401_115558c17714ec02.jpg">
                                            </a>
                                        </div>
                                        <div class="list-content-body">
                                            <div class="product-price-all clearfix">
                                                <span class="list-content-title">
                                                    <a href="/">
                                                        <h3>Module Boost DC-DC 150W-12-35V</h3>
                                                    </a>
                                                </span>
                                                <div class="product-price">
                                                    <span class="price-nosale">155,000 đ</span>
                                                </div>
                                            </div>
                                            <div class="ProductActionAdd">
                                                <a href="order.html" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                                            </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--End list grid-->

                        <div class="box-head">
                            <a target="_self">SẢN PHẨM KHUYẾN MẠI</a>
                            <a class="more" href="/p/" title="Xem thêm" style="padding-right:20px; float:right">Xem thêm »</a>
                        </div>
                    </div><!--End col-md-9-->

                </div>
            </div><!--End content-->

            <div id="menu-bottom" class="clearfix"><div class="menu-bottom"><!--Begin menu-bottom-->
                    <ul class="clearfix">
                        <li class="parent">
                            <h3>Quy định mua hàng</h3>
                            <ul>
                                <li><a href="/" target="_self" title="Qui định nội dung bình luận">Qui định nội dung bình luận</a></li>
                                <li><a href="/" target="_self" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <h3>Quy định mua hàng</h3>
                            <ul>
                                <li><a href="/" target="_self" title="Qui định nội dung bình luận">Qui định nội dung bình luận</a></li>
                                <li><a href="/" target="_self" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <h3>Quy định mua hàng</h3>
                            <ul>
                                <li><a href="/" target="_self" title="Qui định nội dung bình luận">Qui định nội dung bình luận</a></li>
                                <li><a href="/" target="_self" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <h3>Kết nối với chúng tôi</h3>
                            <div class="social">
                                <a target="_blank" href="" class="facebook" rel="nofollow">Facebook</a>
                                <a target="_blank" href="" class="youtube" rel="nofollow">Youtube</a>
                                <a target="_blank" href="" class="googleplus" rel="nofollow">Google+</a>    
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!--End menu-bottom-->
        </div><!--End container-->     
    </body>
</html>