<div class="list grid">
    <div class="list-item">
        <div class="list-content clearfix">
            <div class="list-content-box">
                <div class="list-content-img">
                    <a href="">
                        <img alt="Bình Pigeon" src="upload/product/960_1435244401_115558c17714ec02.jpg">
                    </a>
                </div>
                <div class="list-content-body">
                    <div class="product-price-all clearfix">
                        <span class="list-content-title">
                            <a href="/">
                                <h3>Bình Pigeon cổ rộng 240ml (nội địa Nhật) - bình thủy tinh</h3>
                            </a>
                        </span>
                        <div class="product-price">
                            <span><span class="pricetext">320.000</span><span class="currencytext">đ</span></span>
                        </div>
                    </div>
                    <div class="ProductActionAdd">
                        <a href="" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                    </div>                            </div>
            </div>
        </div>
    </div>
    <div class="list-item">
        <div class="list-content clearfix">
            <div class="list-content-box">
                <div class="list-content-img">
                    <a href="/binh-pigeon-co-rong-160ml-noi-dia-nhat-pd,1341">
                        <img alt="Bình Pigeon cổ rộng 160ml (nội địa Nhật)" src="http://hangxachtaychuan.vn/mediacenter/media/images/products/193/93/s200_200/24_1429805040_426553917f0b552b.jpg">
                    </a>
                </div>
                <div class="list-content-body">
                    <div class="product-price-all clearfix">
                        <span class="list-content-title">
                            <a href="/binh-pigeon-co-rong-160ml-noi-dia-nhat-pd,1341">
                                <h3>Bình Pigeon cổ rộng 160ml (nội địa Nhật)</h3>
                            </a>
                        </span>
                        <div class="product-price-market">
                            <span class="pricetext">300.000</span><span class="currencytext">đ</span>                                        </div>
                        <div class="product-price">
                            <span><span class="pricetext">280.000</span><span class="currencytext">đ</span></span>
                        </div>
                    </div>
                    <div class="ProductActionAdd"> <a href="/economy/shoppingcart/add/pid/1341" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    <div class="list-item">
        <div class="list-content clearfix">
            <div class="list-content-box">
                <div class="list-content-img">
                    <a href="">
                        <img alt="Bình Pigeon" src="upload/product/229_1429805133_4725539184db60fc.jpg">
                    </a>
                </div>
                <div class="list-content-body">
                    <div class="product-price-all clearfix">
                        <span class="list-content-title">
                            <a href="/binh-pigeon-co-rong-240ml-noi-dia-nhat-pd,1342">
                                <h3>Bình Pigeon cổ rộng 240ml (nội địa Nhật) - bình nhựa</h3>
                            </a>
                        </span>
                        <div class="product-price-market">
                            <span class="pricetext">320.000</span><span class="currencytext">đ</span>                                        </div>
                        <div class="product-price">
                            <span><span class="pricetext">300.000</span><span class="currencytext">đ</span></span>
                        </div>
                    </div>
                    <div class="ProductActionAdd"> 
                        <a href="/" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    <div class="list-item">
        <div class="list-content clearfix">
            <div class="list-content-box">
                <div class="list-content-img">
                    <a href="">
                        <img alt="Bộ Akachan Disney" src="upload/product/920_1429805296_140553918f099e90.jpg">
                    </a>
                </div>
                <div class="list-content-body">
                    <div class="product-price-all clearfix">
                        <span class="list-content-title">
                            <a href="">
                                <h3>Bộ Akachan Disney</h3>
                            </a>
                        </span>
                        <div class="product-price">
                            <span><span class="pricetext">600.000</span><span class="currencytext">đ</span></span>
                        </div>
                    </div>
                    <div class="ProductActionAdd"> 
                        <a href="" class="a-btn-2 addtocart"><span class="a-btn-2-text">Đặt hàng</span></a> 
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>