/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2015, 11:28:38 PM
    Author     : phuongtv
*/

/* these styles are for the demo, but are not required for the plugin */
.zoom {
    display:inline-block;
    position: relative;
}

/* magnifying glass icon */
.zoom:after {
    content:'';
    display:block;
    width:33px;
    height:33px;
    position:absolute;
    top:0;
    right:0;
    background:url(../image/icon.png);
}

.zoom img {
    display: block;
}
.zoom img::selection { background-color: transparent; }
#ex2 img:hover { cursor: url(../image/grab.cur), default; }
#ex2 img:active { cursor: url(../image/grabbed.cur), default; }
